h3 {font-style: italic}
p {font-size: 10pt}
strong {font-style: italic;text-decoration: underline}
#article {font-weight: bold;}
#keyword {color: aquamarine;}
a:visited {color: aqua;text-decoration: none;}